<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пассажиров Титаника</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <h1>Список пассажиров Титаника</h1>

    <!-- Таблица пассажиров -->
    <table id="passengerTable">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Оплата</th>
            <th>Пол</th>
            <th>Класс</th>
            <th>Выжил</th>
            <th>Родственники</th>
        </tr>
        </thead>
        <tbody>
        <!-- Вывод списка пассажиров -->
        <tr th:each="passenger : ${passengers.content}">
            <td th:text="${passenger.name}"></td>
            <td th:text="${passenger.age}"></td>
            <td th:text="${passenger.fare}"></td>
            <td th:text="${passenger.sex}"></td>
            <td th:text="${passenger.pClass}"></td>
            <td th:text="${passenger.survived ? 'Да' : 'Нет'}"></td>
            <td th:text="${passenger.siblingsSpousesAboard + passenger.parentsChildrenAboard}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Пагинация -->
    <div class="pagination">
        <!-- Ссылка на предыдущую страницу -->
        <a th:href="@{/passengers(page=${currentPage - 1}, size=${pageSize})}" th:if="${currentPage > 0}">Предыдущая страница</a>
        <!-- Текущая страница -->
        <span th:text="${currentPage + 1}"></span>
        <!-- Ссылка на следующую страницу -->
        <a th:href="@{/passengers(page=${currentPage + 1}, size=${pageSize})}" th:if="${currentPage < totalPages - 1}">Следующая страница</a>
    </div>

    <!-- Изменение размера страницы -->
    <div class="pagination">
        <form th:action="@{/passengers}" method="GET">
            <label for="pageSize">Количество записей:</label>
            <!-- Выпадающий список для выбора размера страницы -->
            <select id="pageSize" name="size">
                <option value="10" th:selected="${pageSize == 10}">10</option>
                <option value="25" th:selected="${pageSize == 25}">25</option>
                <option value="50" th:selected="${pageSize == 50}">50</option>
                <option value="100" th:selected="${pageSize == 100}">100</option>
            </select>
            <button type="submit">Обновить</button>
        </form>
    </div>
</div>
</body>
</html>