<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пассажиров Титаника</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <h1>Список пассажиров Титаника</h1>

    <!-- Форма для поиска и фильтрации -->
    <form class="mb-4" th:action="@{/passengers}" method="get">
        <div class="row">
            <div class="col-md-4">
                <label>
                    <input type="text" class="form-control" name="name" placeholder="Поиск по имени"
                           th:value="${param.name}">
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    <select class="form-control" name="survived">
                        <option value="">Выжившие</option>
                        <option value="true" th:selected="${param.survived == 'true'}">Да</option>
                        <option value="false" th:selected="${param.survived == 'false'}">Нет</option>
                    </select>
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    <input type="number" class="form-control" name="minAge" placeholder="Возраст от"
                           th:value="${param.minAge}">
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    <select class="form-control" name="sex">
                        <option value="">Пол</option>
                        <option value="MALE" th:selected="${param.sex == 'MALE'}">Мужской</option>
                        <option value="FEMALE" th:selected="${param.sex == 'FEMALE'}">Женский</option>
                    </select>
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    <select class="form-control" name="hasRelatives">
                        <option value="">Родственники</option>
                        <option value="true" th:selected="${param.hasRelatives == 'true'}">Есть</option>
                        <option value="false" th:selected="${param.hasRelatives == 'false'}">Нет</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Применить фильтры</button>
            </div>
        </div>
    </form>

    <!-- Таблица пассажиров -->
    <table id="passengerTable">
        <thead>
        <tr>
            <!-- Сортировка по имени -->
            <th th:if="${sortBy == 'name'}">
                <a th:href="@{/passengers(sortBy='name', sortOrder=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, page=${currentPage}, size=${pageSize}, name=${searchName})}">Имя</a>
                <span th:if="${sortOrder == 'ASC'}">↑</span>
                <span th:if="${sortOrder == 'DESC'}">↓</span>
            </th>
            <th th:unless="${sortBy == 'name'}">
                <a th:href="@{/passengers(sortBy='name', sortOrder='ASC', page=${currentPage}, size=${pageSize}, name=${searchName})}">Имя</a>
            </th>

            <!-- Сортировка по возрасту -->
            <th th:if="${sortBy == 'age'}">
                <a th:href="@{/passengers(sortBy='age', sortOrder=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, page=${currentPage}, size=${pageSize}, name=${searchName})}">Возраст</a>
                <span th:if="${sortOrder == 'ASC'}">↑</span>
                <span th:if="${sortOrder == 'DESC'}">↓</span>
            </th>
            <th th:unless="${sortBy == 'age'}">
                <a th:href="@{/passengers(sortBy='age', sortOrder='ASC', page=${currentPage}, size=${pageSize}, name=${searchName})}">Возраст</a>
            </th>

            <!-- Сортировка по оплате -->
            <th th:if="${sortBy == 'fare'}">
                <a th:href="@{/passengers(sortBy='fare', sortOrder=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, page=${currentPage}, size=${pageSize}, name=${searchName})}">Оплата</a>
                <span th:if="${sortOrder == 'ASC'}">↑</span>
                <span th:if="${sortOrder == 'DESC'}">↓</span>
            </th>
            <th th:unless="${sortBy == 'fare'}">
                <a th:href="@{/passengers(sortBy='fare', sortOrder='ASC', page=${currentPage}, size=${pageSize}, name=${searchName})}">Оплата</a>
            </th>

            </th>
            <th>Пол</th>
            <th>Класс</th>
            <th>Выжил</th>
            <th>Родственники</th>
        </tr>
        </thead>
        <tbody>
        <!-- Вывод списка пассажиров -->
        <tr th:each="passenger : ${passengers.content}">
            <td th:text="${passenger.name}"></td>
            <td th:text="${passenger.age}"></td>
            <td th:text="${passenger.fare}"></td>
            <td th:text="${passenger.sex}"></td>
            <td th:text="${passenger.pClass}"></td>
            <td th:text="${passenger.survived ? 'Да' : 'Нет'}"></td>
            <td th:text="${passenger.siblingsSpousesAboard + passenger.parentsChildrenAboard}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Пагинация -->
    <div class="pagination">
        <!-- Ссылка на предыдущую страницу -->
        <a th:href="@{/passengers(page=${currentPage - 1}, size=${pageSize}, sortBy=${sortBy}, sortOrder=${sortOrder}, name=${searchName})}"
           th:if="${currentPage > 0}">Предыдущая страница</a>
        <!-- Текущая страница -->
        <span th:text="${currentPage + 1}"></span>
        <!-- Ссылка на следующую страницу -->
        <a th:href="@{/passengers(page=${currentPage + 1}, size=${pageSize}, sortBy=${sortBy}, sortOrder=${sortOrder}, name=${searchName})}"
           th:if="${currentPage < totalPages - 1}">Следующая страница</a>
    </div>

    <!-- Изменение размера страницы -->
    <div class="pagination">
        <form th:action="@{/passengers}" method="GET">
            <label for="pageSize">Количество записей:</label>
            <!-- Выпадающий список для выбора размера страницы -->
            <select id="pageSize" name="size">
                <option value="10" th:selected="${pageSize == 10}">10</option>
                <option value="25" th:selected="${pageSize == 25}">25</option>
                <option value="50" th:selected="${pageSize == 50}">50</option>
                <option value="100" th:selected="${pageSize == 100}">100</option>
            </select>
            <button type="submit">Обновить</button>
        </form>
    </div>

    <!-- Статистика -->
    <div class="statistics">
        <h2>Статистика:</h2>
        <p>Общая сумма оплаты проезда: <span th:text="${totalFare}"></span></p>
        <p>Количество людей с родственниками на борту: <span th:text="${relativesCount}"></span></p>
        <p>Количество выживших на борту: <span th:text="${survivorsCount}"></span></p>
    </div>
</div>
</body>
</html>